---
import Layout from "../layouts/Layout.astro";
import exampleData from "../assets/data/example-data.json";
---

<Layout title="Data via JSON - Astro-NKS-Starter">
  <main>
    <h1>Content via JSON</h1>

    {
      exampleData.map((myData) => (
        <>
          <h2>{myData.title}</h2>
          <div class="c-card__container">
            {myData.elements.map((element) => (
              <div class="c-card">
                <div class="c-card__title">
                  <h2>{element.title}</h2>
                </div>
                <div class="c-card__body">
                  <p>{element.comment}</p>
                </div>
                <div class="c-card__image">
                  <img src={element.image} />
                </div>
                <div class="c-card__link">
                  <a href={element.link}>{element.link}</a>
                </div>
              </div>
            ))}
          </div>
        </>
      ))
    }
  </main>
</Layout>
